/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('wooden_image1.jpg');
    background-size: cover;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header styling */
header {
    background-color:#8e210e; /* Tomato color */
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}

/* Main content styling */
main {
    padding: 20px;
}

h2 {
    font-size: 28px;
    color: #ff6347; /* our menu word color*/
    border-bottom: 2px solid rgb(104, 161, 161);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 3px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color:rgb(45, 82, 142); /* row head color */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Image styling in tables */
.menu-image {
    width: 100px; /* Adjust as needed */
    height: auto;
    border-radius: 4px;
}

/* List styling */
ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

/* Block element styling */
p {
    font-size: 16px;
}

p span {
    font-weight: bold;
    color: #ff6347; /* Tomato color */
}

/* Footer styling */
footer {
    background-color: #ff6347; /* Tomato color */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}
